{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        // "node": true,
        "es6": true,
        "jquery": true,
        "amd": true
    },
    "rules": {
        "indent": ["warn", 2, { "SwitchCase": 1 }],
        "linebreak-style": ["warn", "unix"],
        "semi": ["error", "always"],
        "comma-dangle": ["error", "never"],
        "no-cond-assign": ["error", "always"],
        "no-irregular-whitespace": ["warn", { "skipRegExps": true , "skipComments": true}],
        "no-extra-parens": ["warn", "all"],
        "no-unsafe-negation": ["error"],
        "strict": ["warn", "global"],
        "no-floating-decimal": ["error"],
        "no-multiple-empty-lines": ["warn"],
        "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
        "no-console": ["warn", {"allow": [ "warn", "error" ]}],
        "no-unused-vars": ["warn", { "vars": "local" , "args": "after-used"}]
    },
    "globals": {
        "chrome": true
    }
}