<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}<span>{{ site.title2 }}</span></a></h1>
    <div style="float:right;" class="label"><a href="#" onclick="TongWenWFU.toggle()">繁/簡</a></div>
    <ul class="navbar">
      <li><a href="{{ '/news/' | prepend: site.baseurl }}">最新消息</a></li>
      <li><a href="{{ '/diary/' | prepend: site.baseurl }}">恐龍日記</a></li>
      <li><a href="{{ '/petssearch/' | prepend: site.baseurl }}">寵物圖鑑</a></li>
      <li><a href="{{ '/gameinfo/trainers/' | prepend: site.baseurl }}">馴獸師名冊</a></li>
      <li><a href="{{ '/bosstime/' | prepend: site.baseurl }}">討伐首領</a></li>
      <li><a href="{{ '/gameinfo/' | prepend: site.baseurl }}">遊戲資訊</a></li>
      <li><a href="{{ '/krcp/' | prepend: site.baseurl }}">中韓對照</a></li>
      <li><a href="{{ '/google/' | prepend: site.baseurl }}">站內搜尋</a></li>
      <li><a href="{{ '/about/' | prepend: site.baseurl }}">關於本站</a></li>
    </ul>
  </div>
</nav>
