<script type="text/javascript" src="{{ "/js/getURLTag.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/petsSearch.js?v110" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
	/*接聽*/
	window.onhashchange = function() {
		$('input:checkbox').prop('checked',false);
		callFilter();
	};
	$(document).ready(function(){callFilter();});
</script>
<div class="container page" style="text-align:center;">
	<ul class="nav nav-tabs">
		<li><a href="#type=傳說" class="petssearch" onclick="void(0)">傳說</a></li>
		<li><a href="#type=英雄" class="petssearch" onclick="void(0)">英雄</a></li>
		<li><a href="#type=稀有" class="petssearch" onclick="void(0)">稀有</a></li>
		<li><a href="#type=高級" class="petssearch" onclick="void(0)">高級</a></li>
		<li><a href="#type=普通" class="petssearch" onclick="void(0)">普通</a></li>
	</ul>

	<div id="pets-content" style="margin-top: 10px;">
		<p>請選擇上方頁籤</p>
	</div>
</div>
