<script type="text/javascript" src="{{ "/js/getURLTag.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
	/*寵物種類篩選*/
	function petsFilter(type) {
		/*寵物種類索引 */
		var typeTxt		= ['首領','普通','高級','稀有','英雄','傳說'];
		var typeTerm	= typeTxt.indexOf(type);
		var dbFile		=	'/requirepets.php';
		var urlOnline = '{{ "/pets-" | prepend: site.baseurl }}';

		/*清空顯示頁面 */
		$("#pets-content").empty();

		/*呼叫JSON */
		$.getJSON(dbFile)
			.done(function(json){
				/*篩選資料*/
				var data = $.grep(json, function(k,v){
					return JSON.parse(k.r)===typeTerm;
				});

				/*顯示資料*/
				$.each(data, function(i,v){
					if(v.c!=''){
						var row=$('<div>').attr({'class':'col-xs-3 col-md-2','style':'text-align:center;'});
						var rowCell=$('<div>').attr({'class':'pets-item','style':'background-image:url(http://i.imgbox.com/'+v.c+');background-size:100px;'});
						var rowInfo=$('<div>').attr({'class':'pets-item-info'});
						var rowSrc=$('<a>').attr({
							"href":urlOnline+v.i+'/',
							"title":v.n}).text(v.n);
						var rowTxt=$('<p>');

						row.append(rowCell);
						rowCell.append(rowInfo);
						rowInfo.append(rowTxt);
						rowTxt.append(rowSrc);
						row.appendTo("#pets-content");
					}});
			})

			/*連線錯誤時*/
			.fail(function(j,s,e) {
				var err = s + ", " + e;
				console.log( "Request Failed: " + err );
			});
	}

	/*偵測網址書籤變化*/
	function callFilter() {
		var petsURLBookMark=getParameterByBookMark('type');
		if(petsURLBookMark) petsFilter(petsURLBookMark);
	}
	/*接聽*/
	window.onhashchange = function() {
		callFilter();
	};

	$(function(){
    $(document)
			.ready(function(){
			callFilter();}
			);
  });
</script>
<div class="container page" style="text-align:center;">
	<ul class="nav nav-tabs">
		<li><a href="#type=傳說" class="petssearch">傳說</a></li>
		<li><a href="#type=英雄" class="petssearch">英雄</a></li>
		<li><a href="#type=稀有" class="petssearch">稀有</a></li>
		<li><a href="#type=高級" class="petssearch">高級</a></li>
		<li><a href="#type=普通" class="petssearch">普通</a></li>
	</ul>

	<div id="pets-content" style="margin-top: 10px;">
		<p>點擊上方頁籤選擇</p>
	</div>
</div>
